
*{
    margin: 0;
    padding: 0;
}

.containerall{

    width: 100%;
    max-width: 1000px;
    margin: auto;
    
    padding: 60px;

}

body{
    background-color: black;
}


.titulo{
    font-size: 80px;
    margin-bottom: 40px;
    
}

.containerall img{

    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
