
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="disenoanthrax.css">
    <title>Anthrax</title>
</head>
<body>
    
    <div class="containerall">
        <!--contiene toda la página web-->

        <h1 style="color:white;" class="titulo">Anthrax</h1>
        <img src="https://images7.alphacoders.com/781/thumbbig-781547.webp" alt="Anthrax">
        <p style="color:white;">Anthrax es una banda estadounidense de thrash metal, formada en Nueva York en 1981, por el guitarrista Scott Ian y el bajista Dan Lilker.[2] Está considerado como uno de los grupos principales de la escena thrash junto a Metallica, Megadeth y Slayer.</p>
        <p style="color: white;">Anthrax fue fundada en 1981 por los guitarristas Scott Ian y Dan Lilker cuando todavía acudían al instituto.[9] Lilker propuso que el proyecto se llamara Anthrax —el nombre en inglés de la enfermedad conocida como carbunco— después de haber leído dicho término en un libro de biología.[15] Su formación inicial quedó completada con la llegada del batería Dave Weiss y el bajista Kenny Kushner. Este último pronto dejó el grupo y fue sustituido por Paul Kahn, quien a su vez fue reemplazado por Lilker, que pasó a encargarse del bajo. Mientras tanto, Greg Walls ingresó como nuevo guitarrista y Greg D'Angelo suplió a Weiss como batería.[17][18] Por otra parte, el puesto de vocalista fue ocupado por distintos músicos que estuvieron en la agrupación durante un breve periodo de tiempo: John Connelly, Dirk Kennedy y el hermano pequeño de Ian, Jason Rosenfeld, antes de que Neil Turbin llegara al grupo en agosto de 1982.</p>
        <p style="color:white">además, el vocalista Joey Belladonna también ingresó</p>

        <h1 style="color: white;">Albums</h1>
        <ul>
            <li style="color: white;">Fistful of Metal (1984) </li>
            <li style="color: white;">Spreading the Disease (1985)</li>
            <li style="color: white;">Among the Living (1987)</li>
            <li style="color: white;">State of Euphoria (1988)</li>
            <li style="color: white;">Persistence of Time (1990)</li>
            <li style="color: white;">Sound of White Noise (1993)</li>
            <li style="color: white;">Stomp 442 (1995)</li>
            <li style="color: white;">Volume 8: The Threat Is Real (1998)</li>
            <li style="color: white;">We've Come for You All (2003)</li>
            <li style="color: white;">Worship Music (2011)</li>
            <li style="color: white;">For All Kings (2016)</li>
        </ul>


        <h1 style="color: white;">Canciones más escuchadas</h1>

        <ul>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/uGHsxMqpL0c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/RzpRU347BDU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/be7iNHw8QoQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        </ul>






    </div>
    
</body>
</html>