

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="disenoironmaiden.css">
    <title>Iron Maiden</title>
</head>
<body>

    <div class="containerall">
        <!--contiene toda la página web-->

        <h1 style="color:white;" class="titulo">Iron Maiden</h1>
        <img src="https://images4.alphacoders.com/195/thumbbig-195954.webp" alt="Iron Maiden">
        <p style="color:white;">Banda británica de heavy metal, una de las más destacadas de los ochenta, liderada por Steve Harris (1957). Creada en 1975 por el propio Steve Harris y por el guitarrista Dave Murray en el barrio obrero londinense de East End, fue bautizada con el nombre de un instrumento de tortura de la Edad Media (Iron Maden, que significa Dama de hierro).
        </p>
        <p style="color: white;">Después de editar un LP en una discográfica independiente, el grupo fichó por el sello EMI y publicó en 1980 su primer álbum, Iron Maiden, que logró rápidamente situarse entre los diez primeros de las listas de éxitos británicas. Su siguiente trabajo, Killers (1981), reveló el potencial de una banda que poco después encontró una estrella en su nuevo cantante Bruce Dickinson (1958), que entró a formar parte del grupo sustituyendo a Paul Di'Anno. Su contribución fue fundamental para incrementar la fuerza de sus actuaciones en directo.</p>
        <p style="color:white">El disco editado al año siguiente, The number of the beast (1982), se convirtió en todo un clásico entre los discos de heavy metal. Run to the hills, el sencillo que se extrajo de ese álbum, es todavía hoy uno de los títulos más célebres del grupo. Todo ello satisfizo las expectativas de los aficionados más exigentes, y empezó a considerarse a Iron Maiden como la mejor formación heavy metal del momento</p>

        <h1 style="color: white;">Albums</h1>
        <ul>
            <li style="color: white;">Iron Maiden(1980)</li>
            <li style="color: white;">Killers(1981)</li>
            <li style="color: white;">Number of the beast(1982)</li>
            <li style="color: white;">Piece of mind(1983)</li>
            <li style="color: white;">powerslave(1984)</li>
            <li style="color: white;">Live after death(1984)</li>
            <li style="color: white;">Somewhere in time(1986)</li>
            <li style="color: white;">Seventh Son Of A Seventh Son(1988)</li>
            <li style="color: white;">No Prayer For The Dying(1990)</li>
            <li style="color: white;">Fear of the dark(1992)</li>
            <li style="color:white;">A Real Live/Dead One(1993)</li>
            <li style="color:white;">Live At Doningt(1993)</li>
            <li style="color:white;">X Factor(1995)</li>
            <li style="color:white;">Best Of The Beast(1996)</li>
            <li style="color:white;">Virtual XI(1998)</li>
            <li style="color:white;">Ed Hunter(1999)</li>
            <li style="color:white;">Brave New World(2000)</li>
            <li style="color:white;">Rock In Rio(2002)</li>
            <li style="color:white;">Edward The Great(2002)</li>
            <li style="color:white;">Dance Of Death(2003)</li>
            <li style="color:white;">Death On The Road(2005)</li>
            <li style="color:white;">A Matter Of Live & Death(2006)</li>
            <li style="color:white;">Somewhere Back In Time(2008)</li>
            <li style="color:white;">Flight 666(2009)</li>
            <li style="color:white;">The Final Frontier(2010)</li>
            <li style="color:white;">From Fear To Eternity(2011)</li>
            <li style="color:white;">Maiden England '88(2013)</li>
            <li style="color:white;">The Book Of Souls(2015)</li>
            <li style="color:white;">Senjutsu(2021)</li>
            
        </ul>


        <h1 style="color: white;">Canciones más escuchadas</h1>

        <ul>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/WxnN05vOuSM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/WxnN05vOuSM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/Ij99dud8-0A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        </ul>






    </div>
    
</body>
</html>
