

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="megadeth.css">
    <title>Megadeth</title>
</head>
<body>

    <div class="containerall">
        <!--contiene toda la página web-->

        <h1 style="color:white;" class="titulo">Megadeth</h1>
        <img src="https://images4.alphacoders.com/326/thumbbig-32626.webp" alt="Megadeth">
        <p style="color:white;">Megadeth se formó en Los Ángeles (California) en 1983 luego de que Dave Mustaine fuera expulsado de Metallica debido al comportamiento auto-destructivo que este tenía cuando abusaba del alcohol y las drogas. Cuando Dave volvió a su antiguo departamento en L.A. conoció a David Ellefson y juntos decidieron formar una agrupación de Heavy Metal.</p>
        <p style="color: white;"></p>
        <p style="color:white"></p>

        <h1 style="color: white;">Albums</h1>
        <ul>
            <li style="color: white;">Killing Is My Business... And Business Is Good! (1985)</li>
            <li style="color: white;">Peace Sells... But Who's Buying?(1986)</li>
            <li style="color: white;">So Far, So Good... So What!(1988)</li>
            <li style="color: white;">Rust in Peace(1990)</li>
            <li style="color: white;">Countdown to Extinction(1992)</li>
            <li style="color: white;">Youthanasia(1994)</li>
            <li style="color: white;">Cryptic Writings(1997)</li>
            <li style="color: white;">Risk(1999)</li>
            <li style="color: white;">	The World Needs a Hero(2001)</li>
            <li style="color: white;">The System Has Failed(2004)</li>
            <li style="color: white;">United Abominations(2007)</li>
            <li style="color:white;">Endgame(2009)</li>
            <li style="color:white;">Thirteen(2011)</li>
            <li style="color:white;">Super Collider(2013)</li>
            <li style="color:white;">Dystopia(2016)</li>

        </ul>


        <h1 style="color: white;">Canciones más escuchadas</h1>

        <ul>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/K5jvUXij7nU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/9d4ui9q7eDM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/sONL6QUMR9E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        </ul>






    </div>
    
</body>
</html>