<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="disenometallica.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Metallica</title>
</head>

<body>


    <div class="containerall">
        <!--contiene toda la página web-->

        <h1 style="color:white;" class="titulo">Metallica</h1>
        <img src="https://images4.alphacoders.com/739/thumbbig-73988.webp" alt="metallica">
        <p style="color:white;">Metallica es una banda estadounidense de thrash metal​ originaria de Los Ángeles, pero con base en San Francisco desde febrero de 1983. Fue fundada en 1981 en Los Ángeles por Lars Ulrich y James Hetfield, a los que se les unirían Dave Mustaine
            y Ron McGovney.</p>
        <p style="color: white;">Metallica es una de las bandas de Thrash Metal y Heavy Metal más conocidas de la historia Metallica empezó como una banda de la mano de James Hetfield y Lars Ulrich (Los Cuales Antes Fueron Compañeros De Escuela).</p>
        <p style="color:white">Luego vinieron las incorporaciones de Dave Mustaine y Cliff Burton después de tener todos los miembros el día 23 de Julio de 1983 Metallica lanzó su primer disco el Legendario Kill 'Em All luego un año después en 1984 y 1986 lanzaron sus siguentes
            trabajos de estudio, aunque en la gira del disco lanzado en 1986 el Bajista Cliff Burton murió en un Accidente de Autobus. Aunque también antes de lanzar Kill 'Em All el guitarrista Dave Mustaine fue expulsado por sus problemas de Drogas y
            Alcohol y para remplazar a Dave consigueron al guitarrista Kirk Hammet. </p>

        <h1 style="color: white;">Albums</h1>
        <ul>
            <li style="color: white;"> Kill 'Em All</li>
            <li style="color: white;">Ride the Lightning</li>
            <li style="color: white;">Master of Puppets</li>
            <li style="color: white;">And justice for all</li>
            <li style="color: white;">Metallica</li>
            <li style="color: white;">Load</li>
            <li style="color: white;">Reload</li>
            <li style="color: white;">St. Anger</li>
            <li style="color: white;">Death Magnetic</li>
            <li style="color: white;">Hardwired... to Self-Destruct</li>
        </ul>


        <h1 style="color: white;">Canciones más escuchadas</h1>

        <ul>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/WM8bTdBs-cw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/tAGnKpE4NCI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/0obBdrfUMzU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        </ul>






    </div>

</body>

</html>