<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="motorhead.css">
    <title>Motörhead</title>
</head>
<body>

    <div class="containerall">
        <!--contiene toda la página web-->

        <h1 style="color:white;" class="titulo">Motörhead</h1>
        <img src="https://images3.alphacoders.com/277/thumbbig-277379.webp" alt="Motörhead">
        <p style="color:white;">Motörhead fue una banda británica de rock fundada en 1975 en Londres por el bajista, vocalista y compositor, Lemmy Kilmister y disuelta en 2016 tras la muerte de su líder. Motörhead tuvo un gran éxito a principios de los años 1980 con varios sencillos en las listas de venta británicas. Los álbumes Overkill, Bomber, Ace of Spades, Iron Fist, Orgasmatron, Bastards y particularmente No Sleep 'til Hammersmith cimentaron su reputación como una de las bandas más destacadas de la escena heavy metal británica.4​</p>
        <p style="color: white;">Aunque su música es habitualmente etiquetada como heavy metal, speed metal o thrash metal (y, a menudo, considerada como una influencia fundamental de estos dos últimos),Kilmister ha rechazado estas dos últimas etiquetas, prefiriendo describir el estilo de Motörhead como rock and roll, lo que encaja con algunas de las versiones de temas clásicos que la banda ha ido realizando durante su carrera.Las letras de Motörhead hablan generalmente de la lucha entre el bien y el mal, la guerra, el abuso de poder, el sexo, el abuso de sustancias y la vida en la carretera. El logo de la banda, Snaggletooth (en ocasiones llamado War-Pig), una mezcla de gorila, lobo y perro de cuernos gigantescos con casco, cadenas y pinchos, fue creado por Joe Petagno en 1977 para la portada de su álbum debut, apareciendo con variaciones en la casi totalidad de sus álbumes.</p>
        <p style="color:white">Lemmy Kilmister, líder y fundador de Motörhead, falleció el 28 de diciembre de 2015. Tras su muerte, el baterista Mikkey Dee confirmó la disolución del grupo.</p>

        <h1 style="color: white;">Albums</h1>
        <ul>
            <li style="color: white;">	Motörhead(1977)</li>
            <li style="color: white;">	Overkill(1979)</li>
            <li style="color: white;">	Bomber(1979)</li>
            <li style="color: white;">	On Parole(1979)</li>
            <li style="color: white;">Ace of Spades(1980)</li>
            <li style="color: white;">	Iron Fist(1982)</li>
            <li style="color: white;">	Another Perfect Day(1983)</li>
            <li style="color: white;">	Orgasmatron(1986)</li>
            <li style="color: white;">	Rock 'n' Roll(1987)</li>
            <li style="color: white;">1916(1991)</li>
            <li style="color: white;">	March ör Die(1992)</li>
            <li style="color:white;">	Bastards(1993)</li>
            <li style="color:white;">	Sacrifice(1995)</li>
            <li style="color:white;">	Overnight Sensation(1996)</li>
            <li style="color:white;">	Snake Bite Love(1998)</li>
            <li style="color: white;">	We Are Motörhead(2000)</li>
            <li style="color: white;">	Hammered(2002)</li>
            <li style="color: white;">	Inferno(2004)</li>
            <li style="color:white;">	Kiss of Death(2006)</li>
            <li style="color:white;"> Motörizer(2008)</li>
            <li style="color:white;">	The Wörld Is Yours(2010)</li>
            <li style="color:white;">	Aftershock(2013)</li>
            <li style="color:white;">	Bad Magic(2015)</li>
            
        </ul>


        <h1 style="color: white;">Canciones más escuchadas</h1>

        <ul>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/3mbvWn1EY6g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/MlzTET_8SQg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/zw79RVnlCb0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        </ul>






    </div>
    
    
</body>
</html>