<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pantera.css">
    <title>Pantera</title>
</head>
<body>

    <div class="containerall">
        <!--contiene toda la página web-->

        <h1 style="color:white;" class="titulo">Pantera</h1>
        <img src="https://1.bp.blogspot.com/-3Sac0Pgef3k/YRvvkdzrkuI/AAAAAAAAdFc/aqtOane3vTYjYpA7Vx1RaVHxAgrBcKAJwCLcBGAsYHQ/s16000/dimebag-darrell-pantera-live-guitar-1994.jpeg" alt="Pantera">
        <p style="color:white;">Pantera fue una agrupación musical estadounidense de heavy metal fundada en 1981 por los hermanos Abbott —Darrell y Vinnie Paul en Arlington, Dallas, Texas, Estados Unidos. El bajista Rex Brown se uniría a finales de 1981 con el vocalista Terry Glaze. En 1987 Phil Anselmo se convertiría en el vocalista principal del grupo. Permaneció activa entre 1981 hasta su disolución en 2003.</p>
        <p style="color: white;">El estilo del grupo fue variando con los años, pasando por el glam metal a finales de los años 80, hasta el groove metal y el thrash metal durante la década de los 90, periodo marcado por la publicación del álbum de estudio Cowboys from Hell (1990), que ya presentaba dichos rasgos de estilo y que los catapultó a la fama. La RIAA certifica sus ventas con disco de 'Oro' el 14 de septiembre de 1993 y 'Platino' el 16 de julio de 1997, por el 1.000.000 de copias vendidas.</p>
        <p style="color:white;">A mediados de la década de los 90, Pantera comenzó a sufrir numerosas discusiones y tensiones entre sus integrantes, debido principalmente al abuso de drogas de Anselmo, su comportamiento era errático y volátil, y comenzó a distanciarse de sus compañeros. En el 2001 deciden tomarse un receso, sus integrantes toman caminos distintos. Anselmo siguió con sus proyectos que ya había fundado anteriormente, Superjoint Ritual y Down éste último al lado de su ex-compañero Rex Brown ex-bajista de Pantera. Los hermanos Abbott formaron la banda Damageplan, tras esperar e intentar reiterada y fallidamente contactar con Philip Anselmo, que se había sumergido en sus proyectos. Pantera se disolvió oficialmente en el 2003.</p>
        <p style="color:white;">Cualquier esperanza de una reunificación se vendrían a bajo con la trágica muerte de su legendario guitarrista Dimebag Darrell, que fuera asesinado a tiros en el escenario Alrosa Villa en Columbus, Ohio, Estados Unidos, el 8 de diciembre de 2004 por un infante de marina llamado Nathan Gale.</p>

        <h1 style="color: white;">Albums</h1>
        <ul>
            <li style="color: white;">Metal Magic(1983)</li>
            <li style="color: white;">Projects in the Jungle(1984)</li>
            <li style="color: white;">I Am the Night(1985)</li>
            <li style="color: white;">Power Metal(1988)</li>
            <li style="color: white;">Cowboys from Hell(1990)</li>
            <li style="color: white;">Vulgar Display of Power(1992)</li>
            <li style="color: white;">Far Beyond Driven(1994)</li>
            <li style="color: white;">The Great Southern Trendkill(1996)</li>
            <li style="color: white;">	Reinventing the Steel(2000)</li>
            
        </ul>


        <h1 style="color: white;">Canciones más escuchadas</h1>

        <ul>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/AkFqg5wAuFk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/2-V8kYT1pvE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/aDACorIaxNw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            
        </ul>






    </div>

    
</body>
</html>