<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="disenoslayer.css">
    <title>Slayer</title>
</head>
<body>

    <div class="containerall">
        <!--contiene toda la página web-->

        <h1 style="color:white;" class="titulo">Slayer</h1>
        <img src="https://images3.alphacoders.com/151/thumbbig-151065.webp" alt="Slayer">
        <p style="color:white;">Slayer fue una banda estadounidense de thrash metal proveniente de Huntington Park, California. Fundada en 1981 por los guitarristas Kerry King y Jeff Hanneman, el baterista Dave Lombardo y el bajista y vocalista de origen chileno Tom Araya. El agresivo y rápido estilo de Slayer les haría parte de «los cuatro grandes del thrash metal», junto con Metallica, Megadeth y Anthrax.</p>
        <p style="color: white;">Alcanzó la fama gracias a la edición de Reign in Blood, calificado como «el álbum más heavy1​ de todos los tiempos» según la revista Kerrang!.2​ Gracias a esta fama, el grupo fue incluido durante los años ochenta dentro de Los Cuatro grandes del thrash metal junto con Metallica, Megadeth y Anthrax.</p>
        <p style="color:white">La banda ha sido fuertemente criticada por grupos religiosos de ser una banda satánica, debido a que tanto sus letras como las portadas de sus álbumes tratan temas como la violencia, asesinato, asesinos en serie, guerra y el mismo satanismo. También han sido acusados de apoyar al nazismo.3​ Esta última acusación fue formulada debido a la afición de Jeff Hanneman de coleccionar material de temática nazi y por letras como la de la canción «Angel of Death», que trata sobre el médico Josef Mengele. Los miembros del grupo siempre han negado estas imputaciones, asegurando que simplemente están interesados en el tema.</p>
        <p style="color:white">Desde su debut en 1983, la banda ha lanzado once álbumes de estudio, dos álbumes en vivo y dos recopilatorios, y ha vendido más de cuatro millones de álbumes solo en los Estados Unidos. Ha recibido dos premios Grammy: uno en 2007 por la canción «Eyes of the Insane» y otro en 2008 por el tema «Final Six», y han liderado festivales mundiales como el Ozzfest y el Download Festival.</p>

        <h1 style="color: white;">Albums</h1>
        <ul>
            <li style="color: white;">Show no Mercy(1983)</li>
            <li style="color: white;">Haunting the Chapel (EP)(1984)</li>
            <li style="color: white;">Hell Awaits(1985)</li>
            <li style="color: white;">Reign in Blood(1986)</li>
            <li style="color: white;">South of Heaven(1988)</li>
            <li style="color: white;">Seasons in the Abyss(1990)</li>
            <li style="color: white;">Divine Intervention(1994)</li>
            <li style="color: white;">Diabolus in Musica(1998)</li>
            <li style="color: white;">God Hates Us All(2001)</li>
            <li style="color: white;">Christ Illusion(2006)</li>
            <li style="color:white;">World Painted Blood(2009)</li>
            <li style="color:white;">Repentless(2015)</li>
        </ul>


        <h1 style="color: white;">Canciones más escuchadas</h1>

        <ul>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/Gy3BOmvLf2w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/TnRZhLRv6eM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/DECp8LKurKs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        </ul>






    </div>

    
</body>
</html>